registry=https://registry.npmjs.org/
@mitigation-dot-team:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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 # this an installation/read only
package-lock=false